  
.mx-auto {
  /* Add your custom styles for the slider images */
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.mx-auto:hover {
    transform: scale(1.1);
}